REACT_APP_PLEX_SERVER=http://localhost:32400/library/sections/2/all?type=1&sort=titleSort&unwatched=1&includeCollections=1&includeExternalMedia=1&X-Plex-Product=Plex%20Web&X-Plex-Version=4.59.2&X-Plex-Client-Identifier=8993utx42k776dx2700hesnl&X-Plex-Platform=Chrome&X-Plex-Platform-Version=92.0&X-Plex-Sync-Version=2&X-Plex-Features=external-media%2Cindirect-media&X-Plex-Model=bundled&X-Plex-Device=Windows&X-Plex-Device-Name=Chrome&X-Plex-Device-Screen-Resolution=1517x507%2C1920x1080&X-Plex-Container-Start=50&X-Plex-Container-Size=90&X-Plex-Token=TiroW3bQ2haTUzyn4Zok&X-Plex-Provider-Version=3.2&X-Plex-Text-Format=plain&X-Plex-Drm=widevine&X-Plex-Language=en
REACT_APP_PLEX_REQUEST_SERVER="https://localhost:3003"
REACT_APP_TMDB_API_KEY="your_api_key"